{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} View Students by Major {% endblock %}</h1>
<form method="post">
    <label for="major">Choose Major:</label>
    <select id="major" name="major">
        <option value="">Select a Major</option>
        {% for major in major_list %}
            <option value="{{ major }}"> {{ major }} </option>
        {% endfor %}
    </select>
    <input type="submit" value="submit"/>
</form>

{% for student in results_list %}
        <div class="post">
            <h2> {{ student ['first name'] }} {{ student ['last name'] }} </h2>
            <ul>
               <li>major: {{ student['major']}}</li> 
               <li>class: {{ student['class']}}</li>
               <li>gpa: {{ student['gpa']}}</li>
               <li>id: {{ student['id']}}</li>
            </ul>
        </div>

{% endfor %}

{% endblock %}